<!DOCTYPE html>
<html>
<head>
  <title>Contact Me</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='images/contact.css') }}">
</head>
<body>
<nav>
  <a href="/">Home</a>
  <a href="/profile">Profile</a>
  <a href="/contact">Contact</a>
  <a href="/works">Works</a>
</nav>


  <div class="contact-container">
    <h2>Contact Info</h2>
    <p class="email">Email: <a href="mailto:zachnathan12345@gmail.com">zachnathan12345@gmail.com</a></p>
    <p class="facebook">Facebook: <a href="https://fb.com/zachdesacula" target="_blank">fb.com/zachdesacula</a></p>
  </div>
<footer>
  <p>&copy; 2025 Galit Ako Sa Bisaya. All Rights Reserved.</p>
</footer>
</body>
</html>
