<!DOCTYPE html>
<html>
<head>
  <title>Uppercase Converter</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='images/uppercase.css') }}">
</head>
<body>
<nav style="background-color: #333; padding: 10px;">
  <a href="/">Home</a>
  <a href="/profile">Profile</a>
  <a href="/contact">Contact</a>
  <a href="/works">Works</a>
</nav>


  <h2>Uppercase Converter</h2>

  <form method="POST">
    <label>Enter Text:</label>
    <input type="text" name="text" required>
    <button type="submit">Convert</button>
  </form>

  {% if result %}
    <p>Uppercase: {{ result }}</p>
  {% endif %}
</body>
</html>
